//colors
$primery-color: #ffb548;
$secondary-color: #fff;
$text-color: #fff;
$btn-textcolor: #1a1917;

//text
$text-font: "Open Sans", sans-serif;
$title-font: "Bebas Neue";

//images

$hero-img: "../images";

//section
