.features {
  @include section;
  background-image: url(#{$hero-img}/featuress.jpg);
  @include bg;
  background-size: 100% 123%;
}

.features-content {
  h5 {
    @include subtitle;
  }

  h1 {
    @include title;
    margin: 9px 0 70px 0;
  }
}

.accardion-lists {
  list-style: none;
  padding: 0;

  .accardion-items {
    position: relative;
    padding: 0 0 0 40px;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: $text-color;
    }

    .accardion-title {
      @include actitle;
      text-decoration: none;
    }

    .accardion-desc {
      @include acdesc;
    }
  }
}

.slide-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 2px;
    height: 220%;
    background-color: $text-color;
  }
}

@media only screen and (max-width: 992px) {
  .features-content {
    h5 {
      font-size: 22px;
      line-height: 22px;
    }

    h1 {
      font-size: 65px;
      line-height: 65px;
      margin: 9px 0 70px 0;
    }
  }

  .accardion-lists {
    .accardion-items {
      .accardion-title {
        font-size: 24px;
        line-height: 24px;
      }

      .accardion-desc {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  @include acdesc;
}

@media only screen and (max-width: 768px) {
  .features-content {
    h5 {
      font-size: 20px;
      line-height: 20px;
    }

    h1 {
      font-size: 50px;
      line-height: 50px;
      margin: 9px 0 70px 0;
    }
  }

  .accardion-lists {
    .accardion-items {
      .accardion-title {
        font-size: 20px;
        line-height: 20px;
      }

      .accardion-desc {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .features-content {
    h5 {
      font-size: 18px;
      line-height: 18px;
    }

    h1 {
      font-size: 35px;
      line-height: 35px;
      margin: 9px 0 70px 0;
    }
  }

  .accardion-lists {
    .accardion-items {
      .accardion-title {
        font-size: 18px;
        line-height: 18px;
      }

      .accardion-desc {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  @include acdesc;
}
