.footer-links {
  position: relative;
  margin: 0;
  padding: 0;

  .footer-link a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.2s ease;

    &:hover {
      color: $primery-color;
    }
  }
}

.quotes-btn {
  padding: 15px 20px 15px 20px;
}

.footer {
  background-color: #080a0b;
  margin: 0;

  & .social__link {
    a i {
      font-size: 18px;
      transition: 0.2s ease;
      color: #fff;

      &:hover {
        color: #ff1313;
      }
    }
  }
}

.footer-social,
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-privacy {
  position: relative;

  & p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  & ul {
    list-style: none;

    & li {
      margin: 0 10px;

      & a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #ffffff;
      }
    }
  }
}
