.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(#{$hero-img}/hero1.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100vh;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(#{$hero-img}/menu-regular-24.png);
}

.nav-link__custom {
  font-family: $text-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: $text-color;
  transition: 0.2s ease;

  &:hover {
    color: #ffb548;
  }
}

.additionals {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  min-width: 5rem;
  background-color: $btn-textcolor;
  color: $text-color;

  .dropdown-item {
    color: $text-color;
    transition: 0.2s;
  }

  .dropdown-item:hover {
    color: $primery-color;
    background-color: transparent;
  }
}

.hero-title {
  font-family: $title-font;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $text-color;
}

.hero-subtitle {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: $text-color;
}

.hero-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

.hero-btn span {
  border-left: 1px solid #1a1917;
  padding-left: 6px;
}

.hero-slide {
  position: relative;

  a {
    position: relative;
    margin: 0 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: red;
  }
}

@media only screen and (max-width: 992px) {
  .hero-title {
    font-size: 65px;
    line-height: 65px;
  }

  .hero-subtitle {
    font-size: 22px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
  }
  .hero-title {
    font-size: 33px;
    line-height: 33px;
  }

  .hero-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
}
