.quotes {
  @include section;
  background-color: #000;

  &-subtitle {
    @include subtitle;
  }

  &-title {
    @include title;
  }

  &-desc,
  &-btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }

  &-btn {
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    border-radius: 4px;
    color: $btn-textcolor;
  }
}

.quote__comment {
  position: relative;
  max-width: 452px;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;

  & h3,
  & p {
    font-family: $title-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #ffb548;
  }

  & p {
    font-family: $text-font;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #ffffff;
    opacity: 0.5;
  }

  & i {
    font-size: 24px;
    color: #ffffff;
    opacity: 0.3;
  }

  & .comment-desc {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    margin: 19px 0 10px 0;
  }

  & .comment-date {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
