.subscribe {
  @include section;
  background-color: #080a0b;
}

.sub-form {
  position: relative;
  & .sub-label {
    position: absolute;
    top: 5px;
    left: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
  }
}

.sub-input {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: none;
  padding: 20px 21px 20px 20px;
  max-width: 366px;
  width: 100%;
  color: $primery-color;

  &:focus {
    border: none;
  }

  &::placeholder {
    color: $primery-color;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .quotes {
    &-subtitle {
      @include smsubtitle;
    }

    &-title {
      @include smtitle;
    }
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 98%;
  }

  .sub-img {
    margin: 0 auto;
  }

  .quotes {
    &-subtitle {
      @include smsubtitle;
    }

    &-title {
      @include smtitle;
    }
  }
}
