/*variables*/
/*mixins*/
/*main code*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*header*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/hero1.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100vh;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/menu-regular-24.png);
}

.nav-link__custom {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-link__custom:hover {
  color: #ffb548;
}

.additionals {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  min-width: 5rem;
  background-color: #1a1917;
  color: #fff;
}

.dropdown-menu .dropdown-item {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-menu .dropdown-item:hover {
  color: #ffb548;
  background-color: transparent;
}

.hero-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.hero-subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.hero-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

.hero-btn span {
  border-left: 1px solid #1a1917;
  padding-left: 6px;
}

.hero-slider {
  list-style: none;
  list-style-type: none;
}

.hero-slider .hero-slide {
  position: relative;
}

.hero-slider .hero-slide a {
  position: relative;
  margin: 0 10px;
}

.hero-slider .hero-slide a span {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.hero-slide.active a span {
  background: #fff;
}

@media only screen and (max-width: 992px) {
  .hero-title {
    font-size: 65px;
    line-height: 65px;
  }
  .hero-subtitle {
    font-size: 22px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 50px;
  }
  .hero-subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 98%;
  }
  .hero-title {
    font-size: 33px;
    line-height: 33px;
  }
  .hero-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .hero-content {
    margin: 0 auto;
  }
}

/*description*/
.description {
  position: relative;
  width: 100%;
  height: auto;
  padding: 160px 0;
  background-image: url(../images/descbg.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.desc-content h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.desc-content h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}

.desc-content hr {
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 60px 0;
}

.desc-content div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.8;
}

.desc-content div span {
  opacity: 1;
}

/*features*/
.features {
  position: relative;
  width: 100%;
  height: auto;
  padding: 125px 0;
  background-image: url(../images/featuress.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 123%;
}

.features-content h5 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.features-content h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin: 9px 0 70px 0;
}

.accardion-lists {
  list-style: none;
  padding: 0;
}

.accardion-lists .accardion-items {
  position: relative;
  padding: 0 0 0 40px;
}

.accardion-lists .accardion-items::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
}

.accardion-lists .accardion-items .accardion-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffb548;
  text-decoration: none;
}

.accardion-lists .accardion-items .accardion-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}

.slide-line {
  position: relative;
}

.slide-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 2px;
  height: 220%;
  background-color: #fff;
}

@media only screen and (max-width: 992px) {
  .features-content h5 {
    font-size: 22px;
    line-height: 22px;
  }
  .features-content h1 {
    font-size: 65px;
    line-height: 65px;
    margin: 9px 0 70px 0;
  }
  .accardion-lists .accardion-items .accardion-title {
    font-size: 24px;
    line-height: 24px;
  }
  .accardion-lists .accardion-items .accardion-desc {
    font-size: 20px;
    line-height: 20px;
  }
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .features-content h5 {
    font-size: 20px;
    line-height: 20px;
  }
  .features-content h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 9px 0 70px 0;
  }
  .accardion-lists .accardion-items .accardion-title {
    font-size: 20px;
    line-height: 20px;
  }
  .accardion-lists .accardion-items .accardion-desc {
    font-size: 16px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .features-content h5 {
    font-size: 18px;
    line-height: 18px;
  }
  .features-content h1 {
    font-size: 35px;
    line-height: 35px;
    margin: 9px 0 70px 0;
  }
  .accardion-lists .accardion-items .accardion-title {
    font-size: 18px;
    line-height: 18px;
  }
  .accardion-lists .accardion-items .accardion-desc {
    font-size: 16px;
    line-height: 16px;
  }
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}

/*requirements*/
.requirements {
  position: relative;
  width: 100%;
  height: auto;
  padding: 125px 0;
  background-image: url(../images/reqbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.requirements-subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.requirements-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.requirements-info {
  margin: 133px 0 0 0;
}

.requirements-info div div {
  border: 1px solid #979797;
}

.requirements-info h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffb548;
}

.requirements-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 8px 0 0 0;
}

@media only screen and (max-width: 992px) {
  .requirements-subtitle {
    font-size: 22px;
    line-height: 22px;
  }
  .requirements-title {
    font-size: 65px;
    line-height: 65px;
    margin: 9px 0 70px 0;
  }
  .requirements-info {
    margin: 73px 0 0 0;
  }
  .requirements-info h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .requirements-info p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .requirements-subtitle {
    font-size: 20px;
    line-height: 20px;
  }
  .requirements-title {
    font-size: 50px;
    line-height: 50px;
    margin: 9px 0 70px 0;
  }
  .requirements-info {
    margin: 23px 0 0 0;
  }
  .requirements-info h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .requirements-info p {
    font-size: 16px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .requirements-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .requirements-title {
    font-size: 35px;
    line-height: 35px;
    margin: 9px 0 70px 0;
  }
  .requirements-info {
    margin: 0px 0 0 0;
  }
  .requirements-info h1 {
    font-size: 18px;
    line-height: 18px;
  }
  .requirements-info p {
    font-size: 16px;
    line-height: 16px;
  }
}

/*quotes*/
.quotes {
  position: relative;
  width: 100%;
  height: auto;
  padding: 125px 0;
  background-color: #000;
}

.quotes-subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.quotes-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.quotes-desc, .quotes-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.quotes-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  color: #1a1917;
}

.quote__comment {
  position: relative;
  max-width: 452px;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.quote__comment h3,
.quote__comment p {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffb548;
}

.quote__comment p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

.quote__comment i {
  font-size: 24px;
  color: #ffffff;
  opacity: 0.3;
}

.quote__comment .comment-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 19px 0 10px 0;
}

.quote__comment .comment-date {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .quotes-subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
  }
  .quotes-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 98%;
  }
  .quotes-subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
  }
  .quotes-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}

/*quotes*/
.subscribe {
  position: relative;
  width: 100%;
  height: auto;
  padding: 125px 0;
  background-color: #080a0b;
}

.sub-form {
  position: relative;
}

.sub-form .sub-label {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 4px;
}

.sub-input {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: none;
  padding: 20px 21px 20px 20px;
  max-width: 366px;
  width: 100%;
  color: #ffb548;
}

.sub-input:focus {
  border: none;
}

.sub-input::-webkit-input-placeholder {
  color: #ffb548;
}

.sub-input:-ms-input-placeholder {
  color: #ffb548;
}

.sub-input::-ms-input-placeholder {
  color: #ffb548;
}

.sub-input::placeholder {
  color: #ffb548;
}

@media only screen and (max-width: 768px) {
  .quotes-subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
  }
  .quotes-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 98%;
  }
  .sub-img {
    margin: 0 auto;
  }
  .quotes-subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
  }
  .quotes-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}

/*footer*/
.footer-links {
  position: relative;
  margin: 0;
  padding: 0;
}

.footer-links .footer-link a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer-links .footer-link a:hover {
  color: #ffb548;
}

.quotes-btn {
  padding: 15px 20px 15px 20px;
}

.footer {
  background-color: #080a0b;
  margin: 0;
}

.footer .social__link a i {
  font-size: 18px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fff;
}

.footer .social__link a i:hover {
  color: #ff1313;
}

.footer-social,
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-privacy {
  position: relative;
}

.footer-privacy p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-privacy ul {
  list-style: none;
}

.footer-privacy ul li {
  margin: 0 10px;
}

.footer-privacy ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */